.button {
  padding: 0;
  outline: none;
  cursor: pointer;

  // &.contained {}

  &:disabled {
    pointer-events: none;
    cursor: default;
  }

  &.outlined {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
  }

  &.ghost {
    color: var(--inverted-primary-color);
    border: none;
    background: transparent;
  }
}
